@font-face {
    font-family: keama;
    src: url("../fonts/keama.ttf");
}

.keama_logo {
    font-family: keama;
}

.keama_fixe {
    background-image: url("../img/wall.jpg");
    background-color: #cccccc; 
    background-size: 100% auto;
    overflow-y: hidden; 
    overflow-x: hidden; 
}

.keama_milieu{
    position: absolute;
    top: 30%; 
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
}

.keama_h1 {
    letter-spacing: 2px;
    font-size: 4.5em ; 
}
.keama_haut{
    background-image: url("../img/keama_background.png");
    height: 180px;
}

.keama_haut_texte{
    padding-top: 40px ;
    padding-left: 25px ;
}

/*::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}*/

input[type=text].rechercher {
    border: 0px solid #444;                
}

input[type=text]:focus {
    border-bottom: 1px solid #ccc;
}

input[type=text].muanza {
    width: 25%;
    padding: 10px 10px;
    margin: 5px 0;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 0px;
    box-sizing: border-box;
}
select.muanza {
    width: 15%;
    padding: 10px 10px;
    margin: 5px 0;
    display: inline-block;
    border: 0px solid #ccc;
    border-radius: 0px;
    box-sizing: border-box;
}

img.muanza:hover{
    transform: scale(1.2);
    opacity: 0.8;
    cursor: pointer;
}

.menu_muanza:hover {
    cursor: pointer;
}
.menu_muanza:hover span{
    font-weight: 400;
    opacity: 0.9;
}
.menu_muanza:hover a{
    font-weight: 400;
    opacity: 0.9;
}
span#labelTableau:hover{
    color:#555;
}
span#labelCarte:hover{
    color:#555;
}

.gras{
    font-weight: normal;
    color:#f09433;
}
.instagram{
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

.arriereplanflat{
    background-image: url("img/wallbw.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% auto;
}

.fg-bleu{
    color: #1b4e9c;
}
.bg-bleu{
    background: none;
    background-color: #1b4e9c !important;
}
.overlay-bleu{
    background: none;
    background-color: #1b4e9c !important;
    background: linear-gradient(to right, #000046, #1cb5e0) !important;
    opacity:0.9;
}

.fg-or{
    color: #f09433;
}
.bg-or{
    background-color: #f09433 !important;
}
.overlay-or{
    background: none;
    background-color: #f09433 !important;
    opacity:0.8;
}


table{
    border: 0px solid #1b4e9c;
}
td {
    border: 0px solid #1b4e9c;
}

th, td {
    padding: 2px;
    text-align: left;
    border: 0px solid #1b4e9c;
}
th {
    background-color: #1b4e9c;
    color: white !important;
}
tr{
    background: none !important;
}
tr:nth-child(even) {
    background-color: #f0f0fa !important;
}
tr:hover {
    background-color: #f09433!important;
    cursor: pointer;
}
a.dt-button{
    background: none !important;
    border: none !important;
    border-radius: 0;
    background-color: #f09433 !important;
    color :#fff !important;
}
a.paginate_button.current{
    background: none !important;
    border: none !important;
    border-radius: 0;
    background-color: #f09433 !important;
    color :#fff !important;
}
input[type=search]{
   -moz-appearance: none;/* older firefox */
   -webkit-appearance: none; /* safari, chrome */
   appearance: none; /* rest */
   -webkit-appearance: textfield;
   border: 2px solid #f09433 !important;
}
input[type=search]:focus{
   -moz-appearance: none;/* older firefox */
   -webkit-appearance: none; /* safari, chrome */
   appearance: none; /* rest */
   -webkit-appearance: textfield;
   border: 2px solid #f09433 !important;
}


